.navProfile {
  width: 98%;
}

.detailString {
  margin-top: 4px;
}

.careTeam {
  max-width: 400px;
}

.visit,
.allergy,
.immunization,
.medication,
.item {
  height: 250px;
  width: 24%;
  margin-right: 1%;
}

.carePlan {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.plus {
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 55px;
}

.datepicker {
  width: 300px;
}

.questionnaireLink {
  font-size: 20px;
}

.noAllergies,
.noMedications,
.noVisits,
.noImmunizations,
.noHistory {
  margin: auto;
}

.value {
  font-size: 16px;
}
