.healthProjects {
  margin-top: -265px;
  margin-bottom: 50px;
}

.noProjects {
  margin: auto;
  margin-top: -100px;
}

.noProjectsButton {
  margin: auto;
  z-index: inherit;
}

.newButton {
  margin: auto;
  margin-left: 5rem !important;
  z-index: 3;
}

.search {
  height: 350px;
}

.plus {
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  right: 26px;
  position: fixed;
  border-radius: 50%;
  line-height: 55px;
  bottom: 33px;
}
