.card {
  width: 30%;
}

.parts {
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 100%;
  flex-wrap: wrap;
}

.smallestPart {
  height: 100%;
  margin: auto;
  width: 15%;
}

.smallPart {
  height: 100%;
  margin: auto;
  width: 100%;
  -ms-flex: 100%;
}

.part {
  height: 100%;
  margin: auto;
  width: 27%;
}

.chartPart {
  height: 50%;
  margin: auto;
  width: 40%;
}

.link {
  cursor: pointer;
}

.search {
  width: 100%;
  max-height: 90px;
}

.hsize {
  height: 50px;
}

.scrollableDiv {
  height: 200px;
  overflow-y: scroll;
}
