.container {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  height: 350px;
  z-index: 2;
}

.input {
  color: #3d5170;
  width: 90%;
  margin: auto;
  height: 40px;
  padding: 10px 35px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 20px;
  margin-left: 20%;
}

.inputFocused {
  outline: none;
}

.inputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  display: flex;
  width: 60%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: scroll;
  margin-left: 20%;
  margin-top: -1px;
  max-height: 300px;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.suggestionHighlighted {
  background-color: #ddd;
}
