@import 'antd/dist/reset.css';

@tailwind utilities;

.anticon svg {
  vertical-align: initial; /* inherit; Tailwindcss v3 */
}

.ant-form label {
  margin-bottom: initial; /* 0.5rem; Bootstrap v4 */
}
